.button {
  text-decoration: none;
  background-color: white;
}
.calculator {
  width: 600px;
  height: 400px;
  margin: 10vh auto 0 auto;
  border: white 2px solid;
  border-radius: 1rem;
}
#display {
  text-align: right;
  line-height: 80px;
  padding: 6px 4px;
  height: 80px;
  border: black 4px solid;
  border-radius: 3rem;
  font-size: 1.5rem;
}
#display span {
  font-size: 1rem;
  opacity: 50%;
}
.buttons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 3rem;
}
#operations {
  background-color: chocolate;
}
@media (max-width: 720px) {
  body {
    font-size: 93.75%;
  }
}
.button:hover {
  background-color: rgb(36, 160, 160);
  transform: 0.5s;
  opacity: 0.9;
}
#operations:hover {
  background-color: darkmagenta;
  transform: 0.5s;
  opacity: 0.9;
}
